[submodule "ns"]
	path = ns
	url = /Users/kelly/Desktop/ns
[submodule "foofactors"]
	path = foofactors
	url = https://github.com/kelly-sovacool/foofactors
[submodule "fordogs"]
	path = fordogs
	url = https://github.com/kelly-sovacool/fordogs
